body {
    background-color: #f5f7fa;
    display: flex;
    width: 95vw;
    flex-direction: row;
    margin: auto;
}

app-navbar {
    width: 4%;
    color: white;
    font-size: 12px;
    height: 100vh;
    background-image: linear-gradient(100deg, #172437 6.67%, #030d1d);
}

.routes {
    width: 90%;
    padding: 2%;
    margin: 0 auto;
}

.dashboard {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}