.table-header-row {
    background-color: #ccc;
}
  
.mat-header-cell {
    border-right: 1px solid #ccc;
}

.table-container {
    width: 100%;
}

.icon-button {
    display: flex;
    align-items: center;
    margin: 0.1em;
    padding: auto;
}