.table-header-row {
    background-color: #ccc;
}
  
.mat-header-cell {
    border-right: 1px solid #ccc;
    border-radius: 10px;
}

.rounded-table {
    width: 100%;
    border-radius: 10px;
}

.icon-button {
    display: flex;
    align-items: center;
    margin: 0.1em;
    padding: auto;
}

.action-button-content {
    display: flex;
    align-items: center;
    gap: 4px;
}
  